.margin-btm{
    margin-bottom: 20px;
}
.margin-btm h1{
    width: 200px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.margin-btm h3{
    text-align: center;
    margin-top: -80px;
}
.margin-btm p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: orange;
}