.dashboard_container{
    display: grid;
    grid-template-columns: 20% 70%;
    gap: 20px;
}

.dashboard-content{
    margin: 20px 0px 0px 20px;
    padding: 10px;
}

.dashboard-height{
    padding: 20px 20px;
    background-color: rgb(250, 169, 18);
    min-height: auto;
}

.dashboard-height ul{
    min-height: 100vh;
}

.dashboard-height ul li {
    list-style: none;
    margin: 30px 0px;
}

.dashboard-height ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 5px;
    margin: 10px 0px;

}

.dashboard-height ul li a span{
    display: inline;
}

.dashboard_icons{
    display: inline-block;
    margin-right: 10px;
}